* {
    padding: 0;
    margin: 0;
    font-family: "lato", sans-serif;
}

body {
    height: 3000px;
}

#top-swirl {
    height: 60vh;
}

#hero{
    overflow: clip;
}
#topbar {
    height: 80px;
    width: 100%;
    background-color: #c03e3e;
    opacity: 80%;
    position: sticky;
    top: 0;
    z-index: 10;
}

#headlines {
    position: relative;
    top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px 5vw;
    gap: 5vw 10vw;
}

#headlines div {
    text-align: center;
    height: fit-content;
    width: fit-content;
    flex: 0 0 auto;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(44, 44, 44);
}

#headlines span {
font-size: 4rem;
font-weight: 800;
color: #C22424;
}

#headlines div a{
    text-decoration: none;
}


#services_wrapper   {
    position: relative;
    top: 80px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5%;
}

#services   {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #D9D9D9;
    flex-wrap: wrap;
    padding: 2.5vh;
    gap: 2.5vh;
    border-radius: 50px;
    box-shadow: 5px 5px 12px 1px #c7c7c7;
}

.service  {
    width: 80vw;
    max-width: 500px;
    aspect-ratio: 2 / 1;
    background-color: #F1F1F1;
    flex: 1 0 auto;
    border-radius: 25px;
    box-shadow: 5px 5px 12px 1px #c7c7c7;
}

.service_img    {
    width: 50%;
    height: 100%;
    background-color: #c03e3e;
    border-radius: 25px;
}

@media screen and (min-width: 600px) {
    .service_img    {
        background-color: #4e3636;
    }
    .service  {
        all: revert;
        height: 25vh;
        max-height: 230px;
        aspect-ratio: 2 / 1;
        min-height: 150px;
        background-color: #F1F1F1;
        flex: 1 0 auto;
        border-radius: 25px;
        box-shadow: 5px 5px 12px 1px #c7c7c7;
}}

#choose_us  {
    width: 100%;
    height: fit-content;
    top: 120px;
    position: relative;
    overflow: clip;
    background-color: #C22424;
}

#bottom-swirl   {
    fill: linear-gradient(0deg, #ffffff 0%, #787878 100%);
    z-index: -1;
}

#why-choose-us-container  {
    height: 100%;
    width: 100%;
    z-index: 30;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#why-choose-us  {
    width: 900px;
    height: 600px;
    background-color: #c03e3e;
    border-radius: 50px;
    margin: 5vw;
}

#previous-work  {
    width: 100%;
    height: 30%;
    background-color: #fae8e8;
}

